<h1>Wedding Invitation</h1>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div formArrayName="guests">
    <div class="extension" *ngFor="let extension of guests.controls; let idx = index" [formGroupName]="idx">
      <p>Guests {{idx+1}}</p>
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName">

      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="lastName"  maxlength="5">

      <div class="vegetarian">
        <label for="vegetarian">Vegetarian: </label>
        <input type="checkbox" id="vegetarian" formControlName="vegetarian">
      </div>

      <label for="person">Adult:
        <input type="radio" formControlName="person" value="adult">
      </label>
      <label for="person">Child:
        <input type="radio" formControlName="person" value="child">
      </label>

      <p>Transportation:</p>
      <select formControlName="transport" name="transport" id="transportation">
        <option value="shuttle">Shuttle</option>
        <option value="independent">Independent</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>
  <button type="button" (click)="onAddguests()">Add Another Person</button>
  <p>Form Status: {{ profileForm.status }}</p>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>